# Canvas
CANVAS_API_TOKEN=

# Gradescope
GRADESCOPE_EMAIL=
GRADESCOPE_PASSWORD=

# Panopto
PANOPTO_CLIENT_ID=
PANOPTO_CLIENT_SECRET=
PANOPTO_SERVER=mit.hosted.panopto.com

# Piazza
PIAZZA_EMAIL=
PIAZZA_PASSWORD=

# Anthropic
ANTHROPIC_API_KEY=

# App
BACKEND_PORT=8000
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
